<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>

<h1>首页</h1>

<a th:href="@{/target/(username='coco',passwd=1)}">servlet获取请求参数</a> <br><br>

<form th:action="@{target}" method="get">
    用户名：<input type="text" name="usermame"><br>
    密码：<input type="password" name="passwd"><br>
    爱好：<input type="checkbox" name="hobby" value="a"> a
    <input type="checkbox" name="hobby" value="b"> b
    <input type="checkbox" name="hobby" value="c">c <br>
    <input type="submit" value="控制器方法的形参获取参数">
</form>
<br><br>


<form th:action="@{target}" method="get">
    用户名：<input type="text" name="usermame"><br>
    密码：<input type="password" name="passwd"><br>
    爱好：<input type="checkbox" name="hobby" value="a"> a
    <input type="checkbox" name="hobby" value="b"> b
    <input type="checkbox" name="hobby" value="c">c <br>
    <input type="submit" value="控制器方法的形参获取参数">
</form>

</body>
</html>