<!DOCTYPE html>

<html lang="en" class="ie8 no-js">

    <html lang="en" class="ie9 no-js">


        <html lang="zxx">


            <head>

                <title>欢迎</title>

                <meta charset="utf-8">

                <meta content="width=device-width, initial-scale=1.0" name="viewport">

                <meta name="description" content="">

                <meta name="keywords" content="">

                <meta name="author" content="">

                <meta name="MobileOptimized" content="320">

                <!--Start Style -->

                <link rel="stylesheet" type="text/css" href="assets/css/fonts.css">

                <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">

                <link rel="stylesheet" type="text/css" href="assets/css/auth.css">

                <script src="assets/js/api.js"></script>

                <script src="assets/js/jquery.min.js"></script>

                <!-- Favicon Link -->

                <link rel="shortcut icon" type="image/png" href="assets/images/favicon.png">

            </head>


            <body>

                <div class="ad-auth-wrapper">

                    <div class="ad-auth-box">

                        <div class="row align-items-center">

                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">

                                <div class="ad-auth-img">

                                    <img src="/assets/images/auth-img1.png" alt=""/>

                                </div>

                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">

                                <div class="ad-auth-content">

                                    <form action="/do-fileUpload" method="post">

                                        <h2><span class="primary">你好,</span>欢迎!</h2>

                                        <p>请填写下方信息</p>

                                        <div class="ad-auth-form">

                                            <div class="ad-auth-feilds mb-30">

                                                <input name="file1" type="text" placeholder="文件名" class="ad-input"/>

                                                <div class="ad-auth-icon">

                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBo

                                                </div>

                                            </div>

                                        </div>

                                        <div class="ad-auth-btn">

                                            <button class="ad-btn ad-login-member">1.文件上传</button>

                                        </div>

                                    </form>

                                    <form action="/do-flume">

                                        <div class="ad-auth-btn">

                                            <button class="ad-btn ad-login-member">2.执行Flume</button>

                                        </div>

                                    </form>

                                    <form action="/do-wordCount">

                                        <div class="ad-auth-btn">

                                            <button class="ad-btn ad-login-member">3.执行MapReduce</button>

                                        </div>

                                    </form>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </body>


        </html>