<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>

<h1>员工详情</h1>

<a th:href="@{/employee}">获取所有用户</a> <br>
<!--<a th:href="@{/get_user/1}">get，根据id获取用户</a> <br><br>-->

<!--<form th:action="@{/add_user}" method="post">-->
    <!--用户名：<input type="text" name="username">-->
    <!--密码：<input type="password" name="password">-->
    <!--<input type="submit" value="submit">-->
<!--</form>-->
<!--<br><br>-->

<!--<form th:action="@{/update_user}" method="post">-->
    <!--<input type="hidden" name="_method" value="PUT">-->
    <!--用户名：<input type="text" name="username">-->
    <!--密码：<input type="password" name="password">-->
    <!--<input type="submit" value="put">-->
<!--</form>-->


<!--<a th:href="@{/target}">跳转到target页面: get请求</a> <br>-->
<!--<form th:action="@{/target}" method="post">-->
<!--<input type="submit" value="跳转到target页面: post请求">-->
<!--</form>-->
<!--<br><br>-->

<!--<a th:href="@{/target(username='admin',passwd=111111)}">跳转到target页面: param参数</a> <br>-->

<!--<a th:href="@{/target}">跳转到target页面: headers参数</a> <br>-->

<!--<a th:href="@{/target/a5c}">跳转到target页面: ant风格路径</a> <br>-->

<!--<a th:href="@{/target/1/username}">跳转到target页面: springMVC占位符</a> <br><br>-->


<!--<a th:href="@{/target/(username='coco',passwd=1)}">servlet获取请求参数</a> <br>-->


</body>
</html>