<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itbys._03_test.mapper.UserMapper">

    <!--int insertUser();-->
    <insert id="insertUser">
        insert into t_user
        values (null, '张三', '123', 23, '女','1232@qq.com')
    </insert>

    <!--int updateUser();-->
    <insert id="updateUser">
        update t_user set email = 'update_email' where id = 1
    </insert>

    <!--int deleteUser();-->
    <insert id="deleteUser">
        delete from t_user where id = 3
    </insert>

    <!--
      select必须设置resultType或resultMap
      resultType：自动映射，用于属性名和表中字段名一致的情况
      resultMap：自定义映射，用于一对多或多对一或字段名和属性名不一致的情况
    -->
    <!--User getUserById();-->
    <select id="getUserById" resultType="com.itbys._03_test.entity.User">
        select * from t_user where id = 4
    </select>

    <!--List<User> getAllUser();-->
    <select id="getAllUser" resultType="com.itbys._03_test.entity.User">
        select * from t_user
    </select>


</mapper>